.body {
    font-family: roboto;
    list-style-type: none; 
    padding-left: 0; 
    background-color: #E5E5E5
}

<style type="text/css">
  ul {
    list-style-type: none;
  }
</style>

/*main colors*/
:root {
  --general_text_color: #212121;
  --secondary_text_color: #757575;
  --links_and_buttons_color: #2196f3;
  --background_color: #2f303a;
  --white_color: #FFFFFF;
  --secondary_background_color: #F5F4FA;

}

/*header`s styles*/
/* Logo */

.header {
    background-color: var(--white_color);
}
    

.logo_header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.web_header_first_part {
  color: var(--links_and_buttons_color);
  margin-right: -6px;
}

.web_header_second_part {
  color: var(--general_text_color);
}

/*navigation*/
.site-nav > li > a {
  color: var(--general_text_color);
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--links_and_buttons_color);
}

/*contacts*/

.contacts a {
  color: var(--secondary_text_color);
  font-family: roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}


/*Main`s styles*/


/*herosection*/

.hero_section {
  background-color: var(--background_color);
}

.hero_name {
    color: #FFFFFF;
    font-family: roboto;
    weight: 900;
    font style:bold;
    font size: 44px;
    line height: 60px;
    line height: 116%
  }

  .order_service {
    background-color: var(--links_and_buttons_color);
  }

  .order_service_title {
    color: var(--white_color);
    font-family: roboto;
    weight: 700;
    font style:bold;
    font size: 16px;
    line height: 30px;
    line height: 160%;

  }
/*what_we_do_section*/

.what_we_do_section{
    background-color: var(--secondary_background_color);

}

.what_we_do_title {
    color: var(--general_text_color);
    font style: Bold;
    font size: 36px;
    line height: 42px;
    line height: 100%;
    align: Center
}

/*feautures*/

.feautures_title {
  color: var(--general_text_color);
  font-size: 14px;
  font-style: bold;
  line height: 16px
  line-height: 100%
  align: Left   
  }

.feautures_text {
  color: var(--secondary_text_color);
  font style: Regular;
  font size: 14px;
  line height: 24px;
  line height: 146%;
  align: Left;
}


/*Footer`s styles*/

/*logo in footer*/

.footer {
  background-color: var(--background_color);
}

.logo_footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.web_footer_first_part {
  color: var(--links_and_buttons_color);
  margin-right: -6px;
}

.web_footer_second_part {
  color: #ffffff;
}
.adress a {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.map {
    color: #ffffff;
}

.mailto,
.tel {
  color: rgba(255, 255, 255, 0.6);